NEXT_PUBLIC_SUPABASE_URL=https://ixlrkjpdyyephgrqforn.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_rFXY6phLGvlusBTy_p8gRw_zwq6c8AZ
SUPABASE_SERVICE_ROLE_KEY=sb_secret_Tf4SsomnYpVJZ9z1BRa2iw_6uzmgCVa
